.Header .change-city {
  background-color: #f4f4f8;
  margin: 30px 1px 30px 400px;
  padding: 3px 222px 3px 6px;
  font-size: 20px;
  color: #adb5bd;
  border: none;
  box-shadow: 7px 5px 5px #adb5bd;
}
.Header .search-button {
  background-color: #f4f4f8;
  margin: 30px 0 30px 0;
  padding: 0 15px 2px 15px;
  font-size: 20px;
  color: #8894a3;
  border: 3px solid;
  box-shadow: 5px 5px 5px #adb5bd;
}
.Header .search-button:hover {
  color: #b2d2ec;
}
.Header #current-button {
  background-color: #f4f4f8;
  margin: 30px 0 30px 0px;
  padding: 0 15px 2px 15px;
  font-size: 20px;
  color: #8894a3;
  border: 3px solid;
  box-shadow: 5px 5px 5px #adb5bd;
}
.Header #current-button:hover {
  color: #b2d2ec;
}
.Weather .today-container {
  text-align: center;
  background-color: #fff4b2;
  margin: 30px 100px 30px 100px;
  padding: 16px 30px 36px 30px;
  box-shadow: 3px 3px 6px #adb5bd;
  font-family: "Roboto", sans-serif;
}
.Weather .city {
  font-size: 48px;
}
.Weather .day-today {
  margin: 30px auto;
  font-size: 22px;
  color: #6c757d;
  font-weight: 500;
}
.Weather .temp-today {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 0;
}
.Weather #description {
  font-size: 20px;
  color: #212529;
}
.Weather .emoji {
  font-size: 30px;
}
.Weather img {
  width: 80px;
}
a {
  text-decoration: none;
  color: #212529;
}
a:hover {
  color: #6798c0;
}
#git {
  text-align: center;
  position: relative;
  bottom: -20px;
  font-size: 20px;
}
.indicators {
  display: block;
  text-align: center;
  color: #6798c0;
  background-color: #f8f9fa;
  margin: 30px 100px 30px 100px;
  padding: 40px 50px 40px 50px;
  font-size: 20px;
  box-shadow: 2px 3px 6px #6798c0;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 900px) {
  .Header .change-city {
    margin: 30px 1px 30px 0px;
    padding: 3px 22px 3px 6px;
    font-size: 20px;
  }
}
