.Weather {
  padding: 20px 16px 24px;
  border: 1px solid #878787;
  border-radius: 10px;
}

.Weather h1 {
  font-size: 48px;
  padding-top: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.Weather img {
  height: 64px;
  width: 64px;
}

.Weather strong {
  font-size: 46px;
  line-height: 1;
  margin-left: 10px;
}

.Weather .units {
  position: relative;
  font-size: 18px;
  top: -34px;
}

.Weather a {
  text-decoration: none;
}
.Weather .form-control {
  background-color: #f4f4f8;
  color: #adb5bd;
  border: none;
  box-shadow: 7px 5px 5px #adb5bd;
}
.Weather .btn {
  background-color: #6798c0;
  border: none;
  box-shadow: 5px 5px 5px #adb5bd;
  color: white;
}
.Weather .btn:hover {
  background-color: #f4f4f8;
  color: #8894a3;
  border: none;
  box-shadow: 5px 5px 5px #adb5bd;
}

.WeatherInfo a {
  text-decoration: none;
  color: #212529;
}
.WeatherInfo a:hover {
  color: #6798c0;
}
